@import "null.css";

@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
.wrapper {
	min-height: 100%;
	overflow: hidden;
}

body {
	font-family: "Lato";
	color: #424551;
}
.part-1 {
	max-width: 810px;
	margin: 0 auto;
	padding-bottom: 100px;
}
h1 {
	padding-top: 50px;
	font-size: 46px;
	font-weight: 900;
	color: #1e212c;
	margin-bottom: 26px;
	line-height: 1.3;
}

.img {
	margin-bottom: 40px;
}
.img-2 {
	margin-bottom: 60px;
}

.text {
	font-size: 20px;
	font-weight: 700;
	line-height: 1.5;
	color: #1e212c;
	margin-bottom: 24px;
}
.text-2 {
	margin-bottom: 28px;
	line-height: 1.6;
}
.text-3 {
	line-height: 1.6;
	margin-bottom: 48px;
}

.paragraph {
	background: url("../img/braces.png") 0 0 no-repeat;
	padding-left: 58px;
	font-weight: 700;
	font-size: 20px;
	line-height: 1.5;
	margin-bottom: 48px;
}
.article {
	line-height: 1.6;
	margin-bottom: 24px;
}
li {
	background: url("../img/check.png") 0 5px no-repeat;
	margin-bottom: 4px;
	padding-left: 32px;
	line-height: 1.6;
}
.list {
	margin-bottom: 24px;
}
.article-2 {
	height: 104px;
	line-height: 1.6;
}

.part-2 {
	margin-left: 50px;
	max-width: 390px;
}
h6 {
	font-size: 16px;
	font-weight: 700;
	color: #1e212c;
	text-transform: uppercase;
	line-height: 1.5;
}
h2 {
	font-size: 46px;
	font-weight: 900;
	color: #1e212c;
	line-height: 1.3;
	margin-bottom: 40px;
}
.item {
	color: #424551;
	background: url("../img/check.png") 0 5px no-repeat;
	margin-bottom: 12px;
	line-height: 1.6;
}
.item-last {
	margin-bottom: 48px;
}
.button {
	padding-bottom: 100px;
}
.part-3 {
	padding-bottom: 100px;
	margin-left: 50px;
	margin-right: 30px;
	font-family: "Open Sans Condensed";
	font-weight: 300;
	font-size: 20px;
	color: black;
}

h3 {
	font-size: 40px;
	text-align: center;
	font-weight: 700;
	margin-bottom: 50px;
}
.paragraph-2 {
	margin-bottom: 30px;
	color: rgb(241, 209, 214);
	background-image: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(218, 34, 214, 1) 35%, rgba(0, 212, 255, 1) 100%);
}
h5 {
	font-size: 30px;
	text-decoration: underline;
	margin-bottom: 20px;
}
.topic-1 {
	background: rgb(15, 66, 49) url("../img/1.jpg") 100% 100%/300px 300px repeat-x;
	margin-bottom: 20px;
	color: rgb(248, 239, 239);
}
.topic-2 {
	background: rgb(156, 156, 245, 0.5) url("../img/2.jpg") center/auto 100% no-repeat;
	margin-bottom: 20px;
}
.topic-3 {
	color: white;
	background: url("../img/3.jpg") left/cover;
	margin-bottom: 20px;
}
.topic-4 {
	color: rgb(245, 216, 216);
	background: rgb(245, 195, 195) url("../img/4.jpg") round;
	margin-bottom: 20px;
}
.topic-5 {
	background: rgb(130, 156, 130) url("../img/5.jpg") bottom right / 200px 200px repeat-y;
	margin-bottom: 20px;
}
.topic-6 {
	background: rgb(164, 114, 211) url("../img/6.jpg") 25px /250px space;
	margin-bottom: 20px;
}
.topic-7 {
	color: rgb(147, 232, 247);
	background: url("../img/7.jpg") fixed no-repeat;
	margin-bottom: 20px;
}
.topic-8 {
	color: rgb(243, 173, 53);
	max-height: 500px;
	overflow: auto;
	background: url("../img/8.jpg") 0 0 local no-repeat;
	margin-bottom: 20px;
}
.topic-9 {
	background: url("../img/9.jpg") 0 0 / contain no-repeat;
	margin-bottom: 20px;
}
.topic-10 {
	margin-bottom: 20px;
	background: url("../img/10.jpg") 0 0/100% auto no-repeat;
}
.topic-11 {
	margin-bottom: 20px;
	background: url("../img/11_0.jpg") center no-repeat;
}
.topic-12 {
	color: white;
	background-image: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(218, 34, 78, 1) 35%, rgba(0, 212, 255, 1) 100%);
}
